@import "tailwindcss";

@theme {
  /* Palet Warna Hijau Alpukat */
  --color-primary-50: #f7fee7;
  --color-primary-100: #ecfccb;
  --color-primary-500: #84cc16;
  --color-primary-600: #65a30d;
  --color-primary-700: #4d7c0f;

  /* Warna Netral Tambahan */
  --color-gray-50: #f9fafb;
  --color-gray-800: #1f2937;

  /* Shadow Custom */
  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

/* Setting Dasar Halaman */
body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-800);
  /* Supaya scrolling halus di HP */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
